.toots-filters {
  height: 100dvh;
  max-height: 100dvh;
  padding: 1rem 1rem 2em;
  background-color: var(--bg4);
  overflow-y: auto;
  container-type: inline-size;
  user-select: none;

  h2 {
    margin: 0 0 2rem;
  }
}

.toots-filters-reset {
  margin-top: 1rem;
  text-align: right;

  .reset:not(:disabled) {
    box-shadow: 0 0 0 0.25rem var(--accent);
  }
}
