.form-item {
  margin-bottom: 2px;

  label {
    display: block;
    padding: 0.2rem 0.3rem;
    border-radius: 0.2rem;
  }

  &.sep-above {
    margin-top: 1rem;
  }
  label {
    font-size: 0.85em;
  }

  &.text {
    input {
      display: block;
      width: 100%;
    }
  }
  &.checkbox {
    label {
      position: relative;
      padding-left: 1.7rem;
      background: transparent url("../svg/dark/checkbox-unchecked.svg") no-repeat 2px 2px / auto 18.4px scroll;

      &:has(input:checked) {
        background-image: url("../svg/dark/checkbox-checked.svg");
      }
    }
    input {
      position: absolute;
      left: 1px;
      top: 1px;
      z-index: 1;
      opacity: 0;
    }

    @media (forced-colors: active) {
      label {
        background-image: none !important;
      }
      input {
        left: 3px;
        top: 4px;
        opacity: 1;
        outline: none !important;
      }
    }
  }

  &:hover label,
  &:focus-visible label,
  &:focus-within label {
    background-color: rgba(255, 255, 255, 0.35);
  }

  &.active label {
    color: var(--fg-inv);
    opacity: 1;
    background-color: var(--accent);
    @media (forced-colors: active) {
      outline: 1px solid Highlight;
    }
  }
}

/********************/
/* THEME VARIATIONS */
/********************/

// light

@media (prefers-color-scheme: light) {
  .form-item.checkbox label {
    background-image: url("../svg/dark/checkbox-unchecked.svg");
  }
  .form-item.checkbox label:has(input:checked) {
    background-image: url("../svg/dark/checkbox-checked.svg");
  }
  .form-item:hover label,
  .form-item:focus-visible label,
  .form-item:focus-within label {
    background-color: rgba(255, 255, 255, 0.35);
  }
  .form-item.active label {
    background-color: var(--accent);
  }
}
html.light {
  .form-item.checkbox label {
    background-image: url("../svg/dark/checkbox-unchecked.svg");
  }
  .form-item.checkbox label:has(input:checked) {
    background-image: url("../svg/dark/checkbox-checked.svg");
  }
  .form-item:hover label,
  .form-item:focus-visible label,
  .form-item:focus-within label {
    background-color: rgba(255, 255, 255, 0.35);
  }
  .form-item.active label {
    background-color: var(--accent);
  }
}

// dark

@media (prefers-color-scheme: dark) {
  .form-item.checkbox label {
    background-image: url("../svg/light/checkbox-unchecked.svg");
  }
  .form-item.checkbox label:has(input:checked) {
    background-image: url("../svg/light/checkbox-checked.svg");
  }
  .form-item:hover label,
  .form-item:focus-visible label,
  .form-item:focus-within label {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .form-item.active label {
    background-color: var(--accent-light);
  }
}
html.dark {
  .form-item.checkbox label {
    background-image: url("../svg/light/checkbox-unchecked.svg");
  }
  .form-item.checkbox label:has(input:checked) {
    background-image: url("../svg/light/checkbox-checked.svg");
  }
  .form-item:hover label,
  .form-item:focus-visible label,
  .form-item:focus-within label {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .form-item.active label {
    background-color: var(--accent-light);
  }
}
