.form-items-section {
  margin: 0 0 1.5rem;
}
.form-items-section-title {
  margin: 0 0 0.5rem;
}
.form-items-group {
  margin: 0 0 1.5rem;
}

.form-items-section:has(.text) {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 0.35rem;
  .form-item {
    grid-column: span 2;
    &.text {
      display: grid;
      grid-template-columns: subgrid;
    }
  }
  @container (width < 260px) {
    display: block;
    .form-item.text label {
      margin: 0.5rem 0 0.25rem;
    }
  }
}

.form-item {
  margin-bottom: 0.2rem;

  label {
    display: block;
    padding: 0.2rem 0.3rem;
    border-radius: 0.2rem;
  }

  &.sep-above {
    margin-top: 1rem;
  }
  label {
    font-size: 0.85em;
  }

  &.text {
    input {
      display: block;
      width: 100%;
    }
  }

  &.number {
    display: flex;
    label {
      flex-grow: 1;
      margin-right: 0.35rem;
    }
    input {
      display: block;
      width: 7ch;
      text-align: left;
    }
  }

  &.select {
    display: flex;
    label {
      flex-grow: 1;
      margin-right: 0.35rem;
    }
    select {
      display: block;
      width: 20ch;
    }
  }

  &.checkbox {
    .checkbox-label {
      position: relative;
      padding-left: 1.7rem;
      background: transparent url("../svg/dark/checkbox-unchecked.svg") no-repeat 2px 2px / auto 18.4px scroll;

      &:has(input:checked) {
        background-image: url("../svg/dark/checkbox-checked.svg");
      }
    }
    input[type="checkbox"] {
      position: absolute;
      left: 1px;
      top: 1px;
      z-index: 1;
      opacity: 0;
    }

    @media (forced-colors: active) {
      .checkbox-label {
        background-image: none !important;
      }
      input[type="checkbox"] {
        left: 3px;
        top: 4px;
        opacity: 1;
        outline: none !important;
      }
    }
  }

  &.checkbox-number {
    .checkbox-label,
    .number-label {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .checkbox-label {
      background-position-y: 50%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .number-label {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      input {
        padding-top: 0;
        padding-bottom: 0;
        margin-left: 0.6em;
        text-align: left;
        color: var(--fg1);
      }
    }

    &.active {
      .number-label input {
        outline-color: var(--fg-inv);
      }
    }

    html.dark &.active {
      .number-label {
        input {
          background-color: rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  &:hover label,
  &:focus-visible label,
  &:focus-within label {
    background-color: rgba(255, 255, 255, 0.35);
  }

  &.active label {
    color: var(--fg-inv);
    opacity: 1;
    background-color: var(--accent);
    @media (forced-colors: active) {
      outline: 1px solid Highlight;
    }
  }
}

.form-item-description {
  display: block;
  font-size: 0.95em;
  margin-top: 0.3rem;
  opacity: 0.7;
}

/********************/
/* THEME VARIATIONS */
/********************/

// light

@media (prefers-color-scheme: light) {
  .form-item.checkbox .checkbox-label {
    background-image: url("../svg/dark/checkbox-unchecked.svg");
  }
  .form-item.checkbox .checkbox-label:has(input:checked) {
    background-image: url("../svg/dark/checkbox-checked.svg");
  }
  .form-item:hover label,
  .form-item:focus-visible label,
  .form-item:focus-within label {
    background-color: rgba(255, 255, 255, 0.35);
  }
  .form-item.active label {
    background-color: var(--accent);
  }
}
html.light {
  .form-item.checkbox .checkbox-label {
    background-image: url("../svg/dark/checkbox-unchecked.svg");
  }
  .form-item.checkbox .checkbox-label:has(input:checked) {
    background-image: url("../svg/dark/checkbox-checked.svg");
  }
  .form-item:hover label,
  .form-item:focus-visible label,
  .form-item:focus-within label {
    background-color: rgba(255, 255, 255, 0.35);
  }
  .form-item.active label {
    background-color: var(--accent);
  }
}

// dark

@media (prefers-color-scheme: dark) {
  .form-item.checkbox .checkbox-label {
    background-image: url("../svg/light/checkbox-unchecked.svg");
  }
  .form-item.checkbox .checkbox-label:has(input:checked) {
    background-image: url("../svg/light/checkbox-checked.svg");
  }
  .form-item:hover label,
  .form-item:focus-visible label,
  .form-item:focus-within label {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .form-item.active label {
    background-color: var(--accent-light);
  }
}
html.dark {
  .form-item.checkbox .checkbox-label {
    background-image: url("../svg/light/checkbox-unchecked.svg");
  }
  .form-item.checkbox .checkbox-label:has(input:checked) {
    background-image: url("../svg/light/checkbox-checked.svg");
  }
  .form-item:hover label,
  .form-item:focus-visible label,
  .form-item:focus-within label {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .form-item.active label {
    background-color: var(--accent-light);
  }
}
