@use "mixins";
@use "colors-mixins";

/* mini-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* anti-mini-reset */
.actor-summary,
.toot-content-inner {
  * {
    all: revert;
  }

  /* anti-anti-mini-reset */
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
  a {
    color: var(--accent);
  }
}

/* color schemes */

html {
  @include colors-mixins.theme-vars();

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    @include colors-mixins.theme-vars("dark");
  }
}

html.light {
  color-scheme: light;
  @include colors-mixins.theme-vars();
}

html.dark {
  color-scheme: dark;
  @include colors-mixins.theme-vars("dark");
}

/* global rules */

body {
  margin: 0;
  padding: 0;
  color: var(--fg1);
  font-size: 1rem;
  background: var(--bg2);
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg2);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a,
.main-welcome p label {
  color: var(--accent);
}

input,
button,
label.btn,
select {
  padding: 0.3em 0.5em;
  font-family: inherit;
  border: none;
  @media (forced-colors: active) {
    border: 1px solid ButtonText;
  }
}

select {
  padding: 0.6em 1em;
}

button,
label.btn,
select {
  position: relative;
  top: 0;
  line-height: 24px;
  vertical-align: middle;
  border-radius: 5px;
  background: var(--bg-button);
  box-shadow: 0 0.15em 0 0 rgba(0, 0, 0, 0.35);
  &:hover {
    background: var(--bg-button-hover);
  }
  &:focus {
    color: var(--fg-button-focus);
  }
  &:active {
    top: 0.15em;
    color: var(--fg-button-active);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  &:disabled {
    top: 0;
    box-shadow: none;
    color: inherit;
    opacity: 0.35;
    cursor: not-allowed;
  }
}

button,
label.btn {
  &:not(:has(svg)) {
    padding: 0.7em 1em;
  }

  .btn-icon,
  .btn-label {
    display: inline-block;
    line-height: 24px;
    vertical-align: top;
  }
  .btn-label {
    padding: 0 0.5em;
  }
  .btn-icon {
    width: 24px;
    height: 24px;
    fill: var(--button-svg);
    @media (forced-colors: active) {
      fill: ButtonText;
    }
  }

  &:hover {
    .btn-icon {
      fill: var(--button-svg-hover);
      @media (forced-colors: active) {
        fill: ButtonText;
      }
    }
  }
  &:focus {
    .btn-icon {
      fill: var(--button-svg-focus);
      @media (forced-colors: active) {
        fill: ButtonText;
      }
    }
  }
  &:active {
    .btn-icon {
      fill: var(--button-svg-active);
      @media (forced-colors: active) {
        fill: ButtonText;
      }
    }
  }
  &:disabled {
    .btn-icon {
      fill: var(--button-svg);
      @media (forced-colors: active) {
        fill: GrayText;
      }
    }
  }
}

input {
  color: inherit;
  background-color: var(--bg-input);

  &:hover {
    background-color: var(--bg-input-hover);
  }
  &:focus,
  &:focus-visible {
    background-color: var(--bg-input-focus);
  }
}

input[type="number"] {
  width: 6ch;
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

details {
  summary {
    cursor: pointer;
    user-select: none;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    .summary-icon {
      min-width: 1.3rem;
      text-align: center;
      svg {
        height: 1.3em;
        aspect-ratio: 1;
      }
    }
    .summary-label {
    }
  }
  pre,
  textarea {
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 0.8em;
    color: inherit;
  }
  textarea {
    display: block;
    width: 100%;
    resize: vertical;
    border: none;
    background: transparent;
    min-height: 20em;
    min-height: 15.5lh;

    @supports (field-sizing: content) {
      min-height: 0;
      field-sizing: content;
    }
  }
}

::selection {
  color: var(--selection-text);
  background-color: var(--selection-bg);
}

// focusable elements
*:focus-visible,
.tags-group button:focus-visible div,
.form-item:has([type="checkbox"]:focus-visible) {
  text-decoration: none;
  outline: 2px solid var(--accent-light);
  outline-offset: 2px;
  border-radius: 2px;
  position: relative;
  z-index: 1;
}
*:focus-visible .mobile-menu-panel {
  outline-offset: -4px;
  border-radius: 6px;
}

.visually-hidden:not(:focus):not(:active) {
  @include mixins.visually-hidden();
}

.nojs {
  margin: 5dvh 10dvw;
  padding: 2em;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: #600;
}

@media (forced-colors: active) {
  details {
    summary {
      color: ButtonText !important;
      svg {
        fill: ButtonText !important;
      }
    }
  }
  .tags-group button * {
    color: ButtonText !important;
  }
}
