@mixin visually-hidden() {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  white-space: nowrap;
}
@mixin cancel-visually-hidden() {
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  clip-path: none;
  position: static;
  white-space: normal;
}

@mixin box-shadow-inner() {
  box-shadow: 0 0.15rem 0.3rem -0.2rem rgba(0, 0, 0, 0.35) inset;
}
@mixin box-shadow-post() {
  box-shadow: 0 0.3rem 0.4rem -0.2rem rgba(0, 0, 0, 0.3);
}
