@use "mixins";

$meta-visible: 100ch;

.toots {
  background: var(--bg1);
}

.toot {
  max-width: 180ch;
  margin: 0 auto 2rem;
  @container (width >= #{$meta-visible}) {
    display: grid;
    grid-template-areas:
      "header meta"
      "pretty meta"
      "infos  meta"
      "raw    meta";
    grid-template-columns: 50% 50%;
    grid-template-rows: min-content min-content min-content 1fr;
  }

  &:last-child {
    border-bottom: none;
  }

  h3,
  h4 {
    margin: 0;
  }
}

.toot-pretty {
  grid-area: pretty;
  padding: 1rem;

  .fetch-boost-data {
    padding-top: 1rem;
    text-align: right;
  }
}

.toot-summary {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: var(--stripe-fg);
  background: repeating-linear-gradient(
    45deg,
    var(--stripe1),
    var(--stripe1) 10px,
    var(--stripe2) 10px,
    var(--stripe2) 20px
  );
  @include mixins.box-shadow-inner();
  border-radius: 0.5rem;
  @media (forced-colors: active) {
    outline: 1px solid Highlight;
  }
}

.toot-content,
.poll-question {
  margin: 0;
  padding: 1rem;
  color: var(--fg0);
  line-height: 1.3;
  overflow-wrap: break-word;
  border-radius: 0.5rem;

  @media (forced-colors: active) {
    border: 1px solid CanvasText;
  }
}

.toot-content {
  background-color: var(--bg0);
  @include mixins.box-shadow-post();

  .toot-type-boost & {
    position: relative;
    overflow-wrap: break-word;
    background: radial-gradient(circle at 100% 100%, var(--bg2), var(--bg0));
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background: transparent url("../svg/light/type-boost.svg") no-repeat calc(100% - 1rem) calc(100% - 0.5rem) / auto
        50% scroll;
    }

    a {
      position: relative;
      z-index: 2;
    }
    .toot-content-inner {
      position: relative;
      z-index: 2;
    }
  }

  .toot-visibility-mentioned & {
    background-color: var(--private-post-bg);
    border: 2px dashed var(--private-post-border);
  }
}

.post-has-conversation {
  margin-top: 1rem;
  text-align: right;
}

.toot-poll {
  padding-top: 1rem;

  ul {
    display: grid;
    grid-template-columns: 1fr min-content min-content;
  }

  .poll-question {
    grid-column: 1 /4;
    display: grid;
    grid-template-columns: subgrid;
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem;
    position: relative;
    overflow: hidden;
    list-style: none;
    background-color: var(--poll-bg);
    opacity: 0.8;

    &:last-child {
      margin-bottom: 0;
    }

    .name {
      align-self: center;
      position: relative;
      z-index: 2;
    }
    .votes {
      align-self: center;
      margin-left: 0.4em;
      position: relative;
      z-index: 2;
      font-size: 0.8em;
      text-align: right;
    }
    .votes-pc {
      color: var(--accent);
      font-weight: bold;
    }
    .votes-abs {
      opacity: 0.75;
      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
    .pc {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      background-color: var(--poll-pc-bg);
      border-radius: 0 0.5rem 0.5rem 0;
      box-shadow: 0 0 0 5px var(--poll-pc-bg2);

      &[style="width: 0%;"] {
        display: none;
      }
    }
  }

  .poll-meta,
  .poll-meta-simplified {
    padding: 1rem 1rem 0;
    font-size: 0.85em;
  }

  .poll-meta {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.2em;

    dl {
      grid-column: 1 / 3;
      display: grid;
      grid-template-columns: subgrid;
    }
    dt {
      color: var(--accent);
    }
    dd {
      padding-left: 0.5em;
    }
  }
  .poll-meta-simplified {
    display: none;
  }
}

.toot-attachments {
  margin: 1rem 0 0;
  ul,
  li {
    list-style: none;
  }

  .att-not-found {
    margin-bottom: 0.5rem;
    color: var(--accent);
    font-weight: bold;
  }

  .att-description {
    font-size: 0.85em;
    line-height: 1.4;
  }
  .no-alt-text {
    .desc-body {
      font-style: italic;
    }
  }
  .desc-source {
    display: block;
    margin-top: 0.5rem;
    font-style: normal;
    word-break: break-all;
    line-height: 1.2;
    strong {
      color: var(--accent);
      font-weight: normal;
    }
  }
}

.att-img {
  & + .att-img {
    margin-top: 1rem;
  }

  .att-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .att-img-wrapper {
    width: clamp(75px, 25dvw, 150px);
    flex: 0 0 clamp(75px, 25dvw, 150px);
    padding: 0;
    background: transparent;
    border-radius: 0.5rem;
    box-shadow: none;
    cursor: pointer;
    background: #fff;
    @media (prefers-reduced-motion: no-preference) {
      transition: background-color 0.35s ease-out;
    }
    &:hover,
    &:focus {
      box-shadow: none;
      border-radius: 0.5rem;
    }
    &:hover {
      transition-duration: 0.2s;
      background: var(--accent-light3);
      img {
        filter: grayscale(50%);
        @media (forced-colors: active) {
          filter: none;
        }
      }
    }
  }
  img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    font-size: 0.6em;
    border-radius: 0.5rem;
    @include mixins.box-shadow-post();
    mix-blend-mode: multiply;
    @media (prefers-reduced-motion: no-preference) {
      transition: filter 0.2s ease-out;
    }
    @media (forced-colors: active) {
      mix-blend-mode: normal;
    }
  }

  .att-description {
    padding: 0 1rem;
  }

  &.no-alt-text .att-img-wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      right: -0.5rem;
      bottom: -0.25rem;
      z-index: 2;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 10rem;
      background: #c00 url("../svg/light/no-alt-text.svg") no-repeat 50% 50% / contain scroll;
    }
  }
}

.att-sound {
  padding: 1rem;
  background-color: var(--bg2);
  border-radius: 0.5rem;
  @include mixins.box-shadow-inner();

  & + .att-sound {
    margin-top: 1rem;
  }

  audio {
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
    border-radius: 0.3rem;
  }
}

.att-video {
  & + .att-video {
    margin-top: 1rem;
  }

  video {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 75dvh;
    border-radius: 0.5rem;
    @include mixins.box-shadow-post();
  }
  .att-description {
    padding: 1rem;
  }
}

.toot-meta {
  grid-area: meta;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  padding-left: 0;

  @container (width < #{$meta-visible}) {
    display: none;
  }

  dl {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
  }
  dt {
    white-space: nowrap;
  }

  & > div {
    flex-basis: calc((100% - 2rem) / 3);
    max-width: calc((100% - 2rem) / 2);
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1rem;
    background-color: var(--bg2);
    border-radius: 0.5rem;
    @include mixins.box-shadow-inner();

    @media (forced-colors: active) {
      border: 1px solid CanvasText;
    }
  }
  .toot-links {
    flex-grow: 1;
    a {
      word-break: break-all;
    }
  }

  h4 {
    margin-bottom: 0.5rem;
  }

  li {
    list-style: none;
    padding: 0.35rem 0 0;
    a {
      display: block;
      padding-left: 1.5rem;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: auto 1.2rem;
      word-break: break-all;

      @media (forced-colors: active) {
        padding-left: 0;
      }
    }
  }
  .toot-people li a {
    background-image: url("../svg/dark/person.svg");
  }
  .toot-hashtags li a {
    background-image: url("../svg/dark/hashtag.svg");
  }
  .toot-links li a {
    background-image: url("../svg/dark/link.svg");
  }
}

.toot-infos {
  grid-area: infos;
  margin: 0 1rem;
  padding: 1rem;
  font-size: 0.8em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  container-type: inline-size;
  background: var(--bg2);
  border-radius: 0.5rem;
  @include mixins.box-shadow-inner();

  & > span {
    margin-bottom: 0.25rem;
  }

  .type {
    order: 1;
  }
  .author {
    order: 2;
  }
  .published {
    order: 4;
  }
  .visibility {
    order: 5;
  }
  .link {
    order: 3;
  }
  .activities {
    order: 6;
  }

  .type,
  .visibility,
  .published,
  .activity,
  .link a {
    padding-left: 1.6em;
    background: transparent none no-repeat 0 0 / 1rem auto scroll;

    @media (forced-colors: active) {
      padding-left: 0;
    }
  }
  .published {
    padding-left: 0;
    &::before {
      content: "-";
      margin: 0 1ch;
    }
  }

  .multiple-actors & {
    .author a {
      display: inline-block;
      margin-top: -0.1rem;
      padding: 0.1rem 0.4rem;
      border-radius: 0.3rem;
      color: #fff;
      text-decoration: none;
      background-color: var(--actor-accent2-ok, transparent);
      &:focus-visible {
        outline-color: var(--actor-accent2-ok);
      }
    }
  }

  .published,
  .visibility {
    margin-right: 1rem;
  }
  .visibility {
    margin-bottom: 0;
  }

  .link {
    margin-left: auto;
  }

  .published {
    flex: 0 0 100%;
    margin-right: 0;
    padding-left: 1.6em;
    background-image: url("../svg/dark/calendar.svg");

    @media (forced-colors: active) {
      padding-left: 0;
    }
    &::before {
      content: none;
    }
    .updated {
      display: block;
    }
  }

  .activities {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0.75rem 0 0;
  }
  .activity {
    margin-top: 0.25rem;
    margin-right: 1rem;
    background-size: 1.1rem auto;
    background-position: 0 50%;
  }
  .toot-lang {
    margin-left: 0.4em;
  }
}

.toot-infos .activity.likes {
  background-image: url("../svg/dark/activity-like.svg");
}
.toot-infos .activity.shares {
  background-image: url("../svg/dark/activity-share.svg");
}
.toot-type-post .toot-infos .type {
  background-image: url("../svg/dark/type-post.svg");
}
.toot-type-boost .toot-infos .type {
  background-image: url("../svg/dark/type-boost.svg");
}
.toot-visibility-public .toot-infos .visibility {
  background-image: url("../svg/dark/visibility-public.svg");
}
.toot-visibility-unlisted .toot-infos .visibility {
  background-image: url("../svg/dark/visibility-unlisted.svg");
}
.toot-visibility-followers .toot-infos .visibility {
  background-image: url("../svg/dark/visibility-followers.svg");
}
.toot-visibility-mentioned .toot-infos .visibility {
  background-image: url("../svg/dark/visibility-mentioned.svg");
}

.toot-infos .link a {
  padding-left: 0;
  padding-right: 1.6em;
  background-position: 100% 50%;
  background-image: url("../svg/dark/open-in-new.svg");
  @media (forced-colors: active) {
    padding-right: 0;
    background: none !important;
  }
}

.toot-raw {
  grid-area: raw;
  margin-top: 0.5rem;
  padding: 0 1rem;
  details {
    border-radius: 0.5rem;
  }
  summary {
    justify-content: flex-end;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    font-size: 0.8em;
    text-align: right;
    opacity: 0.8;
    user-select: none;
    &:hover,
    &:focus-visible {
      opacity: 1;
      border-radius: 0.5rem;
      background-color: var(--bg2);
    }
  }
  .summary-icon {
    display: flex;
    svg {
      fill: currentColor;
    }
  }

  details[open] {
    background-color: var(--bg2);
    @include mixins.box-shadow-inner();

    @media (forced-colors: active) {
      border: 1px solid CanvasText;
    }

    summary {
      opacity: 1;
      background-color: transparent !important;
      box-shadow: none;
    }
  }

  .details-content {
    padding: 1rem;
    overflow-wrap: break-word;
  }
}

.toots-no-results {
  padding: 4rem 1rem;
  text-align: center;
  background: var(--bg1);
  p {
    margin: 1em 0;
  }
}

/***************************/
/* SIMPLIFIED POST DISPLAY */
/***************************/

.simplify-posts-display {
  .toot-raw,
  .toot-meta,
  .poll-meta {
    display: none;
  }
  .poll-meta-simplified {
    display: block;
  }
  .toot {
    max-width: 80ch;
    margin: 0 auto 2.5rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "pretty"
      "infos";
  }
  .toot-infos {
    padding-top: 0;
    box-shadow: none;
    background-color: transparent;
    opacity: 0.5;
    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 0.2s ease-out;
    }

    &:hover,
    &:focus-within {
      opacity: 1;
    }

    .type,
    .visibility,
    .published,
    .link a {
      padding: 0;
      background-image: none !important;
    }
    .visibility {
      order: 2;
      margin-left: 0.4em;
      &::before {
        content: "-";
        margin-right: 0.4em;
      }
    }
  }

  .poll-meta,
  .poll-meta-simplified {
    opacity: 0.5;
    @media (prefers-reduced-motion: no-preference) {
      transition: opacity 0.2s ease-out;
    }
    &:hover {
      opacity: 1;
    }
  }

  &.combine-panels {
    @media screen and (width >= 1400px) {
      .toot {
        display: grid;
        max-width: 1100px;
        grid-template-columns: min(80ch, calc(100% - 360px)) 1fr;
        grid-template-areas:
          "header ."
          "pretty infos";
      }

      .toot-infos {
        display: grid;
        margin: 0;
        padding-top: 1rem;
        grid-template-areas:
          "type   author visibility"
          "pub    pub    pub"
          "acti   acti   acti"
          "link   link   link";
        grid-template-columns: max-content max-content 1fr;

        .type {
          grid-area: type;
        }
        .author {
          grid-area: author;
        }
        .published {
          grid-area: pub;
        }
        .activities {
          grid-area: acti;
        }
        .link {
          grid-area: link;
          margin-left: 0;
          margin-top: 1rem;
        }
      }
    }
  }
}

/********************/
/* THEME VARIATIONS */
/********************/

// light

@media (prefers-color-scheme: light) {
  .toot-meta .toot-people li a {
    background-image: url("../svg/dark/person.svg");
  }
  .toot-meta .toot-hashtags li a {
    background-image: url("../svg/dark/hashtag.svg");
  }
  .toot-meta .toot-links li a {
    background-image: url("../svg/dark/link.svg");
  }
  .toot-infos .published {
    background-image: url("../svg/dark/calendar.svg");
  }
  .toot-infos .activity.likes {
    background-image: url("../svg/dark/activity-like.svg");
  }
  .toot-infos .activity.shares {
    background-image: url("../svg/dark/activity-share.svg");
  }
  .toot-type-post .toot-infos .type {
    background-image: url("../svg/dark/type-post.svg");
  }
  .toot-type-boost .toot-infos .type {
    background-image: url("../svg/dark/type-boost.svg");
  }
  .toot-visibility-public .toot-infos .visibility {
    background-image: url("../svg/dark/visibility-public.svg");
  }
  .toot-visibility-unlisted .toot-infos .visibility {
    background-image: url("../svg/dark/visibility-unlisted.svg");
  }
  .toot-visibility-followers .toot-infos .visibility {
    background-image: url("../svg/dark/visibility-followers.svg");
  }
  .toot-visibility-mentioned .toot-infos .visibility {
    background-image: url("../svg/dark/visibility-mentioned.svg");
  }
  .toot-infos .link a {
    background-image: url("../svg/dark/open-in-new.svg");
  }
}
html.light {
  .toot-meta .toot-people li a {
    background-image: url("../svg/dark/person.svg");
  }
  .toot-meta .toot-hashtags li a {
    background-image: url("../svg/dark/hashtag.svg");
  }
  .toot-meta .toot-links li a {
    background-image: url("../svg/dark/link.svg");
  }
  .toot-infos .published {
    background-image: url("../svg/dark/calendar.svg");
  }
  .toot-infos .activity.likes {
    background-image: url("../svg/dark/activity-like.svg");
  }
  .toot-infos .activity.shares {
    background-image: url("../svg/dark/activity-share.svg");
  }
  .toot-type-post .toot-infos .type {
    background-image: url("../svg/dark/type-post.svg");
  }
  .toot-type-boost .toot-infos .type {
    background-image: url("../svg/dark/type-boost.svg");
  }
  .toot-visibility-public .toot-infos .visibility {
    background-image: url("../svg/dark/visibility-public.svg");
  }
  .toot-visibility-unlisted .toot-infos .visibility {
    background-image: url("../svg/dark/visibility-unlisted.svg");
  }
  .toot-visibility-followers .toot-infos .visibility {
    background-image: url("../svg/dark/visibility-followers.svg");
  }
  .toot-visibility-mentioned .toot-infos .visibility {
    background-image: url("../svg/dark/visibility-mentioned.svg");
  }
  .toot-infos .link a {
    background-image: url("../svg/dark/open-in-new.svg");
  }
}

// dark

@media (prefers-color-scheme: dark) {
  .toot-type-boost .toot-content::after {
    opacity: 0.25;
  }
  .toot-meta .toot-people li a {
    background-image: url("../svg/light/person.svg");
  }
  .toot-meta .toot-hashtags li a {
    background-image: url("../svg/light/hashtag.svg");
  }
  .toot-meta .toot-links li a {
    background-image: url("../svg/light/link.svg");
  }
  .toot-infos .published {
    background-image: url("../svg/light/calendar.svg");
  }
  .toot-infos .activity.likes {
    background-image: url("../svg/light/activity-like.svg");
  }
  .toot-infos .activity.shares {
    background-image: url("../svg/light/activity-share.svg");
  }
  .toot-type-post .toot-infos .type {
    background-image: url("../svg/light/type-post.svg");
  }
  .toot-type-boost .toot-infos .type {
    background-image: url("../svg/light/type-boost.svg");
  }
  .toot-visibility-public .toot-infos .visibility {
    background-image: url("../svg/light/visibility-public.svg");
  }
  .toot-visibility-unlisted .toot-infos .visibility {
    background-image: url("../svg/light/visibility-unlisted.svg");
  }
  .toot-visibility-followers .toot-infos .visibility {
    background-image: url("../svg/light/visibility-followers.svg");
  }
  .toot-visibility-mentioned .toot-infos .visibility {
    background-image: url("../svg/light/visibility-mentioned.svg");
  }
  .toot-infos .link a {
    background-image: url("../svg/light/open-in-new.svg");
  }
}
html.dark {
  .toot-type-boost .toot-content::after {
    opacity: 0.25;
  }
  .toot-meta .toot-people li a {
    background-image: url("../svg/light/person.svg");
  }
  .toot-meta .toot-hashtags li a {
    background-image: url("../svg/light/hashtag.svg");
  }
  .toot-meta .toot-links li a {
    background-image: url("../svg/light/link.svg");
  }
  .toot-infos .published {
    background-image: url("../svg/light/calendar.svg");
  }
  .toot-infos .activity.likes {
    background-image: url("../svg/light/activity-like.svg");
  }
  .toot-infos .activity.shares {
    background-image: url("../svg/light/activity-share.svg");
  }
  .toot-type-post .toot-infos .type {
    background-image: url("../svg/light/type-post.svg");
  }
  .toot-type-boost .toot-infos .type {
    background-image: url("../svg/light/type-boost.svg");
  }
  .toot-visibility-public .toot-infos .visibility {
    background-image: url("../svg/light/visibility-public.svg");
  }
  .toot-visibility-unlisted .toot-infos .visibility {
    background-image: url("../svg/light/visibility-unlisted.svg");
  }
  .toot-visibility-followers .toot-infos .visibility {
    background-image: url("../svg/light/visibility-followers.svg");
  }
  .toot-visibility-mentioned .toot-infos .visibility {
    background-image: url("../svg/light/visibility-mentioned.svg");
  }
  .toot-infos .link a {
    background-image: url("../svg/light/open-in-new.svg");
  }
}
