@use "mixins";

.tools-section {
  h3 {
    margin: 0 0 1rem;
  }
  ul {
    list-style: none;
    font-size: 0.85em;
    margin: 1rem 0 0;
    padding: 0.5rem 1rem;
    background-color: var(--bg5);
    border-radius: 0.5rem;
  }
  li {
    list-style: none;
    margin: 0.5rem 0;
  }
  b,
  .name {
    word-break: break-all;
  }
}

.panel-tools {
  position: absolute;
  left: auto;
  right: calc(0px - min(25%, 600px));
  top: 0;
  bottom: 0;
  z-index: 4;

  width: min(25%, 600px);
  height: 100dvh;
  overflow-y: scroll;
  padding: 0;

  box-shadow: 0.75rem 0 1rem 0.75rem rgba(0, 0, 0, 0.35);
  background-color: var(--bg4);
  backdrop-filter: blur(20px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  container-type: inline-size;

  @media (prefers-reduced-motion: no-preference) {
    transition: right 0.2s ease-out;
    transition-property: right, box-shadow;
    scroll-behavior: smooth;
  }

  .menu-open-tools & {
    right: 0;
  }

  .panel-close {
    display: block !important;
  }
  .tools-section {
    padding: 1rem 1rem 2rem;
    &.app-log {
      padding-bottom: 0;
    }
  }
}

.app-settings {
  h3 {
    user-select: none;
  }
  .form-item {
    margin-bottom: 0.5rem;
  }
  .form-items-section {
    margin: 0 0 2rem;
  }
  .form-items-section-title,
  .form-item.number,
  .form-item.checkbox {
    flex: 0 0 100%;
  }
}
.settings-layout-misc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.app-settings-default-panel {
  padding-left: 1.4rem;
}

.switch-lang {
  display: flex;
  gap: 1rem;
  line-height: 24px;
  label {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0.3rem 0.5rem;
    svg {
      width: 24px;
      height: 24px;
      fill: var(--button-svg);
      @media (forced-colors: active) {
        fill: ButtonText;
      }
    }
  }
}

.switch-theme {
  &.theme-dark {
    .btn-label.dark {
      display: none;
    }
  }
  &.theme-light {
    .btn-label.light {
      display: none;
    }
  }
}

.settings-posts {
  .number label {
    padding-left: 1.7rem;
  }
}

.loaded-files-list {
  li:has(.date) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  li + li {
    margin-top: 1rem;
  }
  .name {
    flex: 0 0 100%;
    color: var(--accent);
  }
  .author {
    margin-left: 0.5em;
    &::before {
      content: "(";
    }
    &::after {
      content: ")";
    }
  }
  .date + .author {
    margin: 0 1em;
    &::before,
    &::after {
      content: none;
    }
  }

  @media (forced-colors: none) {
    .multiple-files & li {
      padding-left: 0.75rem;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: -0.125rem;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 0.25rem;
        border-radius: 0.25rem;
        background-color: var(--actor-accent-ok, transparent);
      }
    }
  }
}

.manage-files {
  margin-top: auto;
}

.manage-files-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .file-loader {
    @include mixins.visually-hidden();
  }

  .tip {
    flex: 0 0 100%;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    opacity: 0.85;
  }
}

.app-log {
  ul {
    height: 20dvh;
    overflow-y: auto;
  }

  @media (forced-colors: none) {
    ul:has(.error, .warn) {
      li {
        padding-left: 0.75rem;
      }
    }
    li {
      position: relative;
      &.error,
      &.warn {
        padding-left: 0.75rem;
        &::before {
          content: "";
          position: absolute;
          left: -0.125rem;
          top: 0;
          bottom: 0;
          z-index: 1;
          width: 0.25rem;
          border-radius: 0.25rem;
          background-color: red;
        }
      }
      &.warn {
        &::before {
          background-color: orange;
        }
      }
    }
  }

  .msg {
    b {
      font-weight: normal;
      color: var(--accent);
    }
  }
  .time {
    opacity: 0.65;
  }
}

.about {
  font-size: 0.85em;
  text-align: center;
}
