@keyframes movingStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: calc(sqrt(8) * -1rem) 0;
  }
}

.welcome,
.loading {
  max-width: 80ch;
  height: 100dvh;
  margin: 0 auto;
  padding: 10dvh 2rem max(2dvh, 2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  line-height: 1.4;
  position: relative;
  z-index: 1;
}

.welcome {
  .app-log {
    h3 {
      display: none;
    }
    ul {
      height: auto;
    }
    li {
      display: none;
      &.error {
        display: block;
      }
    }
  }
  .tools {
    h3 {
      display: none;
    }
  }
  .about {
    margin-top: 2rem;
  }
}

.intro {
  margin-bottom: 4dvh;
  h1 {
    margin-bottom: 7dvh;
    text-align: center;
    line-height: 1.1;
    .accronym {
      display: block;
      font-size: 0.8em;
      opacity: 0.7;
    }
  }
  p {
    margin: 1em 0;
    label {
      color: var(--accent);
      text-decoration: underline;
      cursor: pointer;
      @media (forced-colors: active) {
        color: ButtonText;
      }
    }
  }
}

.file-loader {
  display: block;
  width: 100%;
  height: 10rem;
  max-height: 70dvh;
  margin-top: 7dvh;
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--bg0);
  &:hover,
  &:focus {
    background: var(--bg0);
    outline: 2px solid var(--accent-light);
    outline-offset: 2px;
  }
}

.main-page.highlight-drag {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: repeating-linear-gradient(
      45deg,
      var(--stripe1),
      var(--stripe1) 1rem,
      var(--stripe2) 1rem,
      var(--stripe2) 2rem
    );
    background-size: 200% auto;

    @media (prefers-reduced-motion: no-preference) {
      animation: movingStripes 2s linear infinite;
    }
  }
  &::after {
    content: "";
    position: absolute;
    left: 1rem;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
    z-index: 0;

    background: var(--bg2);
  }
}

.loading {
  padding: 2rem;
  justify-content: center;
}

.loading-inner {
}
.loading-current {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 10rem;
  max-height: 70dvh;
  padding: 1rem;
  color: var(--stripe-fg);
  text-align: center;
  border-radius: 0.5rem;
  background: var(--accent);
  background: repeating-linear-gradient(
    45deg,
    var(--stripe1),
    var(--stripe1) 1rem,
    var(--stripe2) 1rem,
    var(--stripe2) 2rem
  );
  background-size: 200% auto;

  @media (prefers-reduced-motion: no-preference) {
    animation: movingStripes 2s linear infinite;
  }
}
.loading-txt {
  font-size: 2em;
}
.loading-filename {
  font-style: italic;
  overflow-wrap: anywhere;
}
.loading-next {
  margin-top: 1.75rem;
  text-align: center;
  font-size: 0.85em;
  ul {
    list-style: none;
    height: calc(4lh + (4 * 0.5rem));
    overflow: visible;
  }
  li {
    overflow-wrap: anywhere;
    line-height: 1.2;
    padding: 0.25rem 1rem;
    display: none;
    &.f1 {
      display: block;
      opacity: 1;
    }
    &.f2 {
      display: block;
      opacity: 0.75;
    }
    &.f3 {
      display: block;
      opacity: 0.5;
    }
    &.f4 {
      display: block;
      opacity: 0.25;
    }
  }

  & + .app-log-wrapper {
    margin-top: 1.75rem;
    h3 {
      display: none;
    }
  }
}
