<div class="att-description">
  <span
    class="desc-body"
    x-text="att.name ?? $t('posts.attachmentNoAlt')"
    :id="'att-' + toot._marl.id + '-' + index + '-desc'"
    aria-hidden="true"
  ></span>
  <span class="desc-source">
    <strong x-text="$t('post.attachmentInArchive')"></strong> <span x-text="att.url"></span>
  </span>
</div>
