---
import AttachmentDescription from './AttachmentDescription.astro'
---

<template
  x-if="attachmentIsSound(att) && $store.files.sources[toot._marl.source][att.url]"
>
  <div class="att-wrapper">
    <audio
      controls
      x-show="$store.files.sources[toot._marl.source][att.url].content"


      :src="`data:${att.mediaType}; base64,${$store.files.sources[toot._marl.source][att.url].content}`"
      :aria-labelledby="'att-' + toot._marl.id + '-' + index + '-desc'"
    ></audio>

    <AttachmentDescription />

  </div>
</template>
