<div class="post-has-replies">
  <button
    @click="$store.files.loadConversation(toot)"
    :id="'conversation-' + toot._marl.id"
  >
    <svg class="btn-icon" aria-hidden="true">
      <use href="#conversation" />
    </svg>
    <span x-text="$t('post.showReplies')"></span>
  </button>
</div>
