<div class="post-has-replies">
  <button @click="$store.files.loadConversation(toot)">
    <!-- <svg aria-hidden="true">
      <use href="#conversation" />
    </svg> -->
    <span>This post has one or more replies!</span>
  </button>
</div>
