---
import PostCreate from "./PostCreate.astro";
import PostAnnounce from "./PostAnnounce.astro";
import PostInfos from "./PostInfos.astro";
import PostTags from "./PostTags.astro";
import PostRaw from "./PostRaw.astro";
---

<div
  class="toot"
  :class="['toot-type-' + contentType(toot.type).toLowerCase(), 'toot-visibility-' + toot._marl.visibility[0]]"
  :style="'--actor-hue: '+ $store.files.sources[toot._marl.source].hue"
>
  <h3 class="toot-header visually-hidden">
    <span x-text="contentType(toot.type)"></span>
    <span x-text="$t('post.by')"></span> <span x-text="formatAuthor(toot.actor, true)"></span>,
    <span x-text="formatDateTime(toot.published)"></span>
  </h3>

  <PostCreate />
  <PostAnnounce />

  <PostInfos />
  <PostTags />
  <PostRaw />
</div>
