---
import NoAvatar from '../../../img/no-avatar.png'
import NoAvatarDark from '../../../img/no-avatar-dark.png'
---

<template x-if="source.avatar.noImg">
  <div class="actor-avatar no-avatar">
    <img alt="$t(actor.noAvatarImage)" class="img-light" src={NoAvatar.src} />
    <img alt="$t(actor.noAvatarImage)" class="img-dark" src={NoAvatarDark.src} />
  </div>
</template>

<template x-if="! source.avatar.noImg">
  <button
    :id="'actor-avatar-' + source.id"
    class="actor-avatar"
    @click="$store.lightbox.openProfileImg('avatar', 'actor-avatar-' + source.id, source.id)"
  >
    <img
      :alt="a.name"
      :src="`data:${source.avatar.type}; base64,${source.avatar.content}`"
    />
  </button>
</template>
