---
import NoHeader from '../../../img/no-header.png'
---

<template x-if="source.header.noImg">
  <div class="actor-header no-header">
    <img alt="$t(actor.noHeaderImage)" src={NoHeader.src} />
  </div>
</template>

<template x-if="! source.header.noImg">
  <button
    :id="'actor-header-' + source.id"
    class="actor-header"
    @click="$store.lightbox.openProfileImg('header', 'actor-header-' + source.id, source.id)"
  >
    <img
      alt="$t(actor.headerImage)"
      :src="`data:${source.header.type}; base64,${source.header.content}`"
    />
  </button>
</template>
