---
import NoHeader from '../../../img/no-header.png'
---

<template x-if="source.header.noImg">
  <div class="actor-header no-header">
    <img alt="header" src={NoHeader.src} />
  </div>
</template>

<template x-if="! source.header.noImg">
  <button
    id="actor-header"
    class="actor-header"
    @click="$store.lightbox.openProfileImg('header', 'actor-header', source.id)"
  >
    <img
      alt="header"
      :src="`data:${source.header.type}; base64,${source.header.content}`"
    />
  </button>
</template>
