---
const { name } = Astro.props;
---

<div
  class="toots-filter form-item text"
  :class={"isFilterActive('"+name+"') ? 'active' : ''"}
>
  <label
    for={"filter-"+name}
    x-text={`$t('filters.${name}')`}
  ></label>
  <div class="input-wrapper">
    <input
      id={"filter-"+name}
      type="text"
      x-model.debounce={"$store.files.filters."+name}
      @keyup.debounce="$store.files.setFilter()"
      @change.debounce="$store.files.setFilter()"
    />
  </div>
</div>
