---
const { name } = Astro.props;
---

<div
  class="form-item datetime time"
  :class={`isFilterActive('${name}') ? 'active' : ''`}
  x-show={`$store.files.activeFilters['${name}'] !== false`}
>
  <div class="input-wrapper">
    <input
      type="time"
      id={"filter-"+name}


      x-model.debounce={"$store.files.filters."+name}
      @change.debounce={"$store.files.setFilter('"+name+"')"}
    />
  </div>

  <label
    for={"filter-"+name}
    class="field-label"
    x-text={`$t('filters.${name}')`}
  ></label>
</div>
