<div class="mobile-menu" id="mobile-menu">
  <nav>
    <ul>
      <li>
        <button class="menu-actor" @click="$store.ui.panelToggle('actor')">
          <svg aria-hidden="true"><use href="#menu-actor" /></svg>
          <span x-text="$t('menu.profile')"></span>
        </button>
      </li>
      <li>
        <button
          class="menu-filters"
          :class="$store.files.filtersActive ? 'filters-active' : ''"
          @click="$store.ui.panelToggle('filters')"
        >
          <svg aria-hidden="true"><use href="#menu-filters" /></svg>
          <span x-text="$t('menu.filters')"></span>
          <em
            x-text="$t('menu.filtersActive')"
            x-show="$store.files.filtersActive"
            class="visually-hidden"
          ></em>
        </button>
      </li>
      <li>
        <button class="menu-tags" @click="$store.ui.panelToggle('tags')">
          <svg aria-hidden="true"><use href="#menu-tags" /></svg>
          <span x-text="$t('menu.tags')"></span>
        </button>
      </li>
      <li>
        <button class="menu-tools" @click="$store.ui.panelToggle('tools')">
          <svg aria-hidden="true"><use href="#tools" /></svg>
          <span x-text="$t('menu.tools')"></span>
        </button>
      </li>
    </ul>
  </nav>
</div>

<div
  class="panel-backdrop"
  aria-hidden="true"
  @click="$store.ui.panelClose()"
  @keyup.esc="$store.ui.panelClose()"
/>
