<div class="paging-options" id="paging-options" tabindex="-1">
  <div class="paging-options-inner">
    <label class="paging-label" for="paging-current-page" x-text="$t('paging.page')"></label>
    <input
      class="current-page"
      id="paging-current-page"
      type="number"
      min="1"
      max="$store.files.totalPages"
      x-model="$store.files.currentPage"
      @change="$store.files.checkPagingValue()"
      onclick="this.select()"
      />
      /
    <span class="total-pages" x-text="formatNumber($store.files.totalPages)"></span>
  </div>
</div>
