---
import appVersion from '../../../appVersion';
---

<div class="tools-section about">
  <p>
    MARL v. {appVersion} &mdash; <a href="https://github.com/s427/MARL">
      <span x-text="$t('tools.projectPage')"></span>
    </a>
  </p>
</div>
