<div class="tools-section app-settings">
  <div class="form-items-section settings-layout-misc">
    <h3 class="form-items-section-title" x-text="$t('tools.appSettings')"></h3>

    <div class="app-setting switch-lang">
      <label for="switch-language">
        <svg aria-hidden="true">
          <use href="#langs" /></svg>
        <span class="visually-hidden" x-text="$t('tools.selectLanguage')"></span>
      </label>
      <select
        id="switch-language"
        @change="setLang"
        x-model="$store.ui.lang"
      >
        <template x-for="(lang, id) in $store.ui.appLangs">
          <option
            :value="id"
            x-text="lang"
            :selected="$store.ui.lang === id"
          ></option>
        </template>
      </select>
    </div>

    <div class="app-setting switch-theme">
      <button @click="$store.ui.toggleTheme()"
        class="switch-theme"
        :class="'theme-' + $store.ui.theme"
      >
        <svg class="btn-icon" aria-hidden="true">
          <use
            :href="'#' + ($store.ui.theme === 'dark' ? 'light' : 'dark')"
          /></svg
        ><span class="btn-label dark"  x-text="$t('tools.useDarkTheme')"></span
        ><span class="btn-label light" x-text="$t('tools.useLightTheme')"></span>
      </button>
    </div>
  </div>

  <div class="form-items-section settings-posts">
    <h3 class="form-items-section-title" x-text="$t('tools.postsSettings')"></h3>

    <div class="form-item number">
      <label
        for="paging-page-size"
        x-text={`$t('tools.postsPerPage')`}
      ></label>
      <div class="input-wrapper">
        <input
          id="paging-page-size"
          type="number"
          min="1"
          x-model="$store.ui.pageSize"
          @change.debounce="$store.ui.setOption('pageSize')"
          onclick="this.select()"
        />
      </div>
    </div>

    <div class="app-setting form-item checkbox">
      <label for="setting-posts-order" class="checkbox-label">
        <input
          id="setting-posts-order"
          type="checkbox"
          x-model.debounce={"$store.ui.sortAsc"}
          @change.debounce="$store.ui.setOption('sortAsc')"
        />
        <span class="form-item-label" x-text={`$t('tools.chronologicalOrder')`}></span>
        <span class="form-item-description" x-text={`$t('tools.chronologicalOrderDesc')`}></span>
      </label>
    </div>

    <div class="app-setting form-item checkbox">
      <label for="setting-simplify-posts-display" class="checkbox-label">
        <input
          id="setting-simplify-posts-display"
          type="checkbox"
          x-model.debounce={"$store.ui.simplifyPostsDisplay"}
          @change.debounce="$store.ui.setOption('simplifyPostsDisplay')"
        />
        <span class="form-item-label" x-text={`$t('tools.simplifyPostsDisplay')`}></span>
        <span class="form-item-description" x-text={`$t('tools.simplifyPostsDisplayDesc')`}></span>
      </label>
    </div>
  </div>

  <div class="form-items-section settings-panels">
    <h3 class="form-items-section-title" x-text="$t('tools.panelsSettings')"></h3>

    <div class="app-setting form-item checkbox app-settings-combine-panels">
      <label for="setting-combine-panels" class="checkbox-label">
        <input
          id="setting-combine-panels"
          type="checkbox"
          x-model.debounce={"$store.ui.combinePanels"}
          @change.debounce="$store.ui.setOption('combinePanels')"
        />
        <span class="form-item-label" x-text={`$t('tools.combinePanels')`}></span>
        <span class="form-item-description" x-text={`$t('tools.combinePanelsDesc')`}></span>
      </label>
    </div>

    <div class="app-setting form-item select app-settings-default-panel">
      <label for="setting-default-panel">
        <span class="form-item-label" x-text={`$t('tools.defaultPanel')`}></span>
        <span class="form-item-description" x-text={`$t('tools.defaultPanelDesc')`}></span>
      </label>
      <div class="input-wrapper">
        <select
          id="setting-default-panel"
          x-model="$store.ui.defaultPanel"
          @change.debounce="$store.ui.setOption('defaultPanel')"
        >
          <option value="actor" x-text={`$t('menu.profile')`}></option>
          <option value="filters" x-text={`$t('menu.filters')`}></option>
          <option value="tags" x-text={`$t('menu.tags')`}></option>
          <option value="tools" x-text={`$t('menu.tools')`}></option>
          <option value="auto" x-text={`$t('tools.lastPanel')`}></option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-items-section settings-images">
    <h3 class="form-items-section-title" x-text="$t('tools.imagesSettings')"></h3>

    <div class="app-setting form-item checkbox app-settings-images-compact-layout">
      <label for="setting-images-compact-layout" class="checkbox-label">
        <input
          id="setting-images-compact-layout"
          type="checkbox"
          x-model.debounce={"$store.ui.imagesCompactLayout"}
          @change.debounce="$store.ui.setOption('imagesCompactLayout')"
        />
        <span class="form-item-label" x-text={`$t('tools.imagesCompactLayout')`}></span>
        <span class="form-item-description" x-text={`$t('tools.imagesCompactLayoutDesc')`}></span>
      </label>
    </div>

    <div class="app-setting form-item checkbox app-settings-alt-text-icon">
      <label for="setting-alt-text-icon" class="checkbox-label">
        <input
          id="setting-alt-text-icon"
          type="checkbox"
          x-model.debounce={"$store.ui.hideNoAltTextNotice"}
          @change.debounce="$store.ui.setOption('hideNoAltTextNotice')"
        />
        <span class="form-item-label" x-text={`$t('tools.hideNoAltTextNotice')`}></span>
      </label>
    </div>
  </div>

</div>
