<main class="welcome loading">
  <div class="intro">
    <div class="file-loader">
      <div>... <span x-text="$t('misc.loading')"></span> ...</div>
      <div class="filename" x-text="$store.files.currentlyLoadingName"></div>
    </div>
  </div>
</main>
