---
import AppLog from '../panels/tools/AppLog.astro';
---

<main class="loading">
  <div class="loading-inner">
    <div class="loading-current">
      <template x-if="! $store.files.loadingFailed">
        <div class="loading-txt">…&nbsp;<span x-text="$t('misc.loading')"></span>&nbsp;…</div>
        <div class="loading-filename" x-text="$store.files.currentlyLoadingName"></div>
      </template>
      <template x-if="$store.files.loadingFailed">
        <div class="loading-txt">⚠️&nbsp;<span x-text="$t('misc.criticalFailure')"></span>&nbsp;⚠️</div>
      </template>
    </div>
    <div class="loading-next" x-show="$store.files.loadingQueue.length">
      <ul>
        <template x-for="(file, index) in $store.files.loadingQueue">
          <li
            x-text="file.name"
            :class="'f'+index"
          ></li>
        </template>
      </ul>
    </div>
    <div class="app-log-wrapper" x-show="$store.ui.errorInLog && $store.files.loadingFailed">
      <AppLog />
    </div>
  </div>
</main>
