<main class="welcome loading-more">
  <div class="intro">
    <div class="file-loader loading">
      <div>... Loading ...</div>
      <div class="filename" x-text="$store.files.loadingName"></div>
    </div>
  </div>
</main>
