---
import MobileMenu from '../MobileMenu.astro';
import LightBox from '../LightBox.astro';

import ActorPanel from '../panels/ActorPanel.astro';
import FiltersPanel from '../panels/FiltersPanel.astro';
import HeaderPanel from '../panels/HeaderPanel.astro';
import PostsPanel from '../panels/PostsPanel.astro';
import TagsPanel from '../panels/TagsPanel.astro';
---

<main
  class="main-section"
  id="main-section"
  tabindex="-1"
  x-on:resize.window="$store.ui.checkMenuState()"
>
  <div
    class="main-section-inner"
    id="main-section-inner"
    :class="$store.files.sources.length > 1 ? 'multiple-actors' : ''"
  >
    <MobileMenu />
    <ActorPanel />
    <FiltersPanel />
    <HeaderPanel />
    <PostsPanel />
    <TagsPanel />
  </div>

  <LightBox />
</main>
