---
import AppSettings from '../panels/tools/AppSettings.astro';
import AppLog from '../panels/tools/AppLog.astro';
import About from '../panels/tools/About.astro';
---

<main class="welcome">
  <div class="intro">
    <h1 x-html="$t('welcome.title', {appName: `MARL <span class='accronym'>(Mastodon Archive Reader Lite)</span>`})"></h1>
    <p x-html="$t('welcome.p1')"></p>
    <p x-html="$t('welcome.p2')"></p>
    <p x-html="$t('welcome.p3', {labelStart: `<label for='file-loader' tabindex='0'>`, labelEnd: `</label>`})"></p>

    <input
      id="file-loader"
      class="file-loader"
      type="file"
      accept=".zip"
      multiple
      @change="loadZipFiles(Object.values($event.target.files))"
    />

    <div class="app-log-wrapper" x-show="$store.ui.errorInLog">
      <AppLog />
    </div>
  </div>

  <div class="tools">
    <AppSettings />
    <About />
  </div>
</main>
