---
import CloseBtn from './CloseBtn.astro'
import ImgAvatar from './actor/ImgAvatar.astro'
import ImgHeader from './actor/ImgHeader.astro'
import LikesBookmarks from './actor/LikesBookmarks.astro'
---

<div
  class="actor mobile-menu-panel"
  id="panel-actor"
  role="region"
  aria-labelledby="actor-title"
  tabindex="-1"
>
  <CloseBtn />

  <h2 class="visually-hidden" id="actor-title" x-text="$t('actor.accountInfo')"></h2>
  <h3 class="visually-hidden" id="actor-tabs-title" x-text="$t('actor.accounts')"></h3>

  <div class="actors-wrapper" :style="'--actor-hue: '+ $store.files.sources[$store.ui.actorPanel].hue">
    <template x-if="$store.files.sources.length > 1">
      <div class="actors-tabs" role="tablist" aria-labelledby="actor-tabs-title">
        <template x-for="(_, source) in $store.files.sources">
          <button
            type="button"
            role="tab"
            :id="'actortab-' + source"
            :aria-selected="source === $store.ui.actorPanel ? 'true': 'false'"
            :aria-controls="'actorpanel-' + source"
            :style="'--actor-hue: '+ $store.files.sources[source].hue"
            @click="$store.ui.openActorTab(source)"
            @keyup.right="$store.ui.switchActorTab('up')"
            @keyup.left="$store.ui.switchActorTab('down')"
          >
            <span x-text="$store.files.sources[source].actor.name"></span>
          </button>
        </template>
      </div>
    </template>
    <template x-if="$store.files.sources.length === 1">
      <span class="visually-hidden" id="actortab-0" x-text="$store.files.sources[0].actor.name"></span>
    </template>

    <template x-for="source in $store.files.sources">
      <div
        class="actor-panel"
        tabindex="0"
        role="tabpanel"
        :id="'actorpanel-' + source.id"
        :aria-labelledby="'actortab-' + source.id"
        x-data="{a: source.actor}"
        x-show="$store.ui.actorPanel === source.id"
      >
        <div class="actor-pretty">
          <div class="actor-banner">
            <ImgHeader />
          </div>

          <div class="actor-id">
            <ImgAvatar />
            <h1 class="actor-name" x-text="a.name"></h1>
            <div class="actor-url">
              <a :href="a.url" x-text="a.url"></a>
            </div>
          </div>

          <div class="actor-summary" x-show="a.summary" x-html="a.summary"></div>

          <div class="actor-infos">
            <dl>
              <dt x-text="$t('actor.memberSince')"></dt>
              <dd x-text="formatDate(a.published)"></dd>
            </dl>
            <template x-for="item in a.attachment">
              <dl>
                <dt x-text="item.name"></dt>
                <dd x-html="item.value"></dd>
              </dl>
            </template>
          </div>

          <div class="actor-posts-count">
            <div class="total">
              <span class="count" x-text="formatNumber(source.outbox.totalItems)"></span>
              <span class="label" x-text="$t('actor.countPosts')"></span>
            </div>

            <div class="archive">
              <span class="count" x-text="formatNumber(source.nbToots)"></span>
              <span class="label" x-text="$t('actor.countInArchive')"></span>
            </div>

            <details class="comment" x-show="source.nbToots != source.outbox.totalItems">
              <summary>
                <span class="summary-icon">
                  <svg aria-hidden="true">
                    <use href="#question" />
                  </svg>
                </span>
                <span class="summary-label" x-text="$t('actor.countDiffWhy')"></span>
              </summary>
              <div class="details-content">
                <p x-text="$t('actor.countDiffExplanation')"></p>
              </div>
            </details>
          </div>
        </div>

        <template x-if="localMode() || (customPrefAvailable('showActorJson') && customPrefs.showActorJson)">
          <div class="actor-raw">
            <div class="actor-raw-inner">
              <details>
                <summary>
                  <span class="summary-icon">
                    <svg aria-hidden="true">
                      <use href="#json" />
                    </svg>
                  </span>
                  <span
                    class="summary-label"
                    x-html="$t('actor.rawData', {fileName: `<em>(actor.json)</em>`})"
                    :id="source + 'raw-data-label'"
                  ></span>
                </summary>
                <div class="details-content">
                  <textarea
                    x-text="formatJson(a)"
                    :aria-labelledby="source + 'raw-data-label'"
                    readonly
                  ></textarea>
                </div>
              </details>
            </div>
          </div>
        </template>

        <div class="actor-likes-bookmarks">
          <LikesBookmarks type="likes" />
          <LikesBookmarks type="bookmarks" />
        </div>
      </div>
    </template>
  </div>
</div>
