<button class="panel-close" @click="$store.ui.menuClose()" x-show="$store.ui.menuIsActive">
  <svg class="btn-icon" aria-hidden="true">
    <use href="#close" /></svg
  ><span class="visually-hidden">Close panel</span>
</button>
