<button
  class="panel-close"
  @click="$store.ui.panelClose()"
  x-show="$store.ui.mobileLayout"
>
  <svg class="btn-icon" aria-hidden="true">
    <use href="#close" />
  </svg>
  <span class="visually-hidden" x-text="$t('misc.closePanelBtn')"></span>
</button>
