---
import CloseBtn from './CloseBtn.astro'
import FilterText from './filters/FilterText.astro';
import FilterCheckbox from './filters/FilterCheckbox.astro';
---

<div
  class="toots-filters mobile-menu-panel"
  id="panel-filters"
  role="search"
  aria-labelledby="toots-filter-title"
  tabindex="-1"
>
  <CloseBtn />

  <h2 id="toots-filter-title" x-text="$t('filters.panelTitle')"></h2>

  <p class="visually-hidden" x-text="$t('filters.panelNotice')"></p>

  <div class="form-items-group">
    <FilterText name="fullText" />
    <FilterText name="hashtagText" />
    <FilterText name="mentionText" />
    <FilterText name="externalLink" />
    <FilterText name="summary" />
  </div>

  <div class="form-items-group">
    <FilterCheckbox name="isEdited" />
    <template x-if="$store.files.duplicates">
      <FilterCheckbox name="isDuplicate" />
    </template>
  </div>

  <div class="form-items-group">
    <h3 class="form-items-group-title" x-text="$t('filters.mustContain')"></h3>

    <FilterCheckbox name="hasHashtags" />
    <FilterCheckbox name="hasMentions" />
    <FilterCheckbox name="hasExternalLink" />
    <FilterCheckbox name="hasSummary" />
  </div>

  <div class="form-items-group">
    <h3 class="form-items-group-title" x-text="$t('filters.type')"></h3>

    <FilterCheckbox name="typeOriginal" />
    <FilterCheckbox name="typeBoost" />
  </div>
  <div class="form-items-group">
    <FilterCheckbox name="noStartingAt" />
    <FilterCheckbox name="isSensitive" />
  </div>

  <div class="form-items-group">
    <h3 class="form-items-group-title" x-text="$t('filters.mustHaveAttachement')"></h3>

    <FilterCheckbox name="attachmentAny" />
    <FilterCheckbox name="attachmentImage" />
    <FilterCheckbox name="attachmentVideo" />
    <FilterCheckbox name="attachmentSound" />
  </div>

  <div class="form-items-group">
    <FilterCheckbox name="attachmentNoAltText" />
    <FilterCheckbox name="attachmentWithAltText" />
  </div>

  <div class="form-items-group">
    <h3 class="form-items-group-title" x-text="$t('filters.visibility')"></h3>

    <FilterCheckbox name="visibilityPublic" />
    <FilterCheckbox name="visibilityUnlisted" />
    <FilterCheckbox name="visibilityFollowers" />
    <FilterCheckbox name="visibilityMentioned" />
  </div>

  <div class="form-items-group" x-show="$store.files.toots.length">
    <h3 class="form-items-group-title" x-text="$t('filters.language')"></h3>
    <template x-for="lang in $store.files.sortedLanguages">

      <div class="form-item checkbox" :class="isFilterActive('lang_' + lang[0]) ? 'active' : ''">
        <label :for="'filter-lang-' + lang[0]">
          <input
            :id="'filter-lang-' + lang[0]"
            type="checkbox"
            x-model="$store.files.filters['lang_' + lang[0]]"
            @change="$store.files.setFilter()"
          />
          <span>
            <span x-text="lang[0]"></span>
            (<span x-text="lang[1]"></span>)
          </span>
        </label>
      </div>
    </template>
  </div>

  <template x-if="$store.files.sources.length > 1">
    <div class="form-items-group">
      <h3 class="form-items-group-title" x-text="$t('filters.author')"></h3>
      <template x-for="source in $store.files.sources">

        <div class="form-item checkbox" :class="isFilterActive('actor_' + source.id) ? 'active' : ''">
          <label :for="'filter-actor-' + source.id">
            <input
              :id="'filter-actor-' + source.id"
              type="checkbox"
              x-model="$store.files.filters['actor_' + source.id]"
              @change="$store.files.setFilter()"
            />
            <span>
              <span x-text="source.actor.name"></span>
            </span>
          </label>
        </div>
      </template>
    </div>
  </template>

  <div class="toots-filters-reset">
    <button @click="$store.files.resetFilters(true)" :disabled="!$store.files.filtersActive">
      <svg class="btn-icon" aria-hidden="true">
        <use href="#reset-filters" />
      </svg>
      <span class="btn-label" x-text="$t('filters.resetFilters')"></span>
    </button>
  </div>
</div>
