---
import CloseBtn from './CloseBtn.astro'
import FilterText from './filters/FilterText.astro';
import FilterCheckbox from './filters/FilterCheckbox.astro';
import FilterActivity from './filters/FilterActivity.astro';
import FilterDate from './filters/FilterDate.astro';
import FilterTime from './filters/FilterTime.astro';
---

<div
  class="toots-filters mobile-menu-panel"
  id="panel-filters"
  role="search"
  aria-labelledby="toots-filter-title"
  tabindex="-1"
>
  <CloseBtn />

  <h2 id="toots-filter-title" x-text="$t('filters.panelTitle')"></h2>

  <p class="visually-hidden" x-text="$t('filters.panelNotice')"></p>

  <div class="form-items-section section-text">
    <FilterText name="fullText" />
    <FilterText name="hashtagText" />
    <FilterText name="mentionText" />
    <FilterText name="externalLink" />
    <FilterText name="summary" />
  </div>

  <div
    class="form-items-section"
    x-show="$store.files.activeFilters.isDuplicate"
  >
    <FilterCheckbox name="isDuplicate" />
  </div>

  <div class="form-items-section section-must-contain">
    <h3 class="form-items-section-title" x-text="$t('filters.mustContain')"></h3>

    <div class="form-items-group">
      <FilterCheckbox name="hasHashtags" />
      <FilterCheckbox name="hasMentions" />
      <FilterCheckbox name="hasPoll" />
      <FilterCheckbox name="hasSummary" />
      <FilterCheckbox name="hasExternalLink" />
    </div>

    <div class="form-items-group">
      <FilterCheckbox name="startingAt" />
      <FilterCheckbox name="noStartingAt" />
      <FilterCheckbox name="isSensitive" />
      <FilterCheckbox name="isEdited" />
    </div>
  </div>

  <div
    class="form-items-section section-activities"
    x-show="$store.files.activeFilters.hasLikes && $store.files.activeFilters.hasShares"
  >
    <h3 class="form-items-section-title" x-text="$t('filters.activities')"></h3>

    <div class="form-items-group">
      <FilterActivity name="hasLikes" />
      <FilterActivity name="hasShares" />
    </div>
  </div>

  <div class="form-items-section section-datetime">
    <h3 class="form-items-section-title" x-text="$t('filters.dateTime')"></h3>

    <div class="form-items-group">
      <FilterDate name="afterDate" />
      <FilterDate name="beforeDate" />
    </div>
    <div class="form-items-group">
      <FilterTime name="afterTime" />
      <FilterTime name="beforeTime" />
    </div>
  </div>

  <div
    class="form-items-section section-type"
    x-show="$store.files.activeFilters.typeOriginal && $store.files.activeFilters.typeBoost"
  >
    <h3 class="form-items-section-title" x-text="$t('filters.type')"></h3>
    <FilterCheckbox name="typeOriginal" />
    <FilterCheckbox name="typeBoost" />
  </div>

  <div
    class="form-items-section section-attachments"
    x-show="$store.files.activeFilters.attachmentImage || $store.files.activeFilters.attachmentVideo || $store.files.activeFilters.attachmentSound"
  >
    <h3 class="form-items-section-title" x-text="$t('filters.mustHaveAttachement')"></h3>

    <div class="form-items-group">
      <FilterCheckbox name="attachmentAny" />
      <FilterCheckbox name="attachmentImage" />
      <FilterCheckbox name="attachmentVideo" />
      <FilterCheckbox name="attachmentSound" />
    </div>

    <div
      class="form-items-group"
      x-show="$store.files.activeFilters.attachmentImage || $store.files.activeFilters.attachmentVideo || $store.files.activeFilters.attachmentSound"
    >
      <FilterCheckbox name="attachmentNoAltText" />
      <FilterCheckbox name="attachmentWithAltText" />
    </div>
  </div>

  <div
    class="form-items-section"
    x-show="[$store.files.activeFilters.visibilityPublic, $store.files.activeFilters.visibilityUnlisted, $store.files.activeFilters.visibilityFollowers, $store.files.activeFilters.visibilityMentioned].filter(Boolean).length > 1"
  >
    <h3 class="form-items-section-title" x-text="$t('filters.visibility')"></h3>

    <FilterCheckbox name="visibilityPublic" />
    <FilterCheckbox name="visibilityUnlisted" />
    <FilterCheckbox name="visibilityFollowers" />
    <FilterCheckbox name="visibilityMentioned" />
  </div>

  <template x-if="$store.files.sortedLanguages.length > 1">
    <div class="form-items-section section-langs" x-show="$store.files.toots.length">
      <h3 class="form-items-section-title" x-text="$t('filters.language')"></h3>
      <div class="form-items-group">
        <template x-for="lang in $store.files.sortedLanguages">
          <div class="form-item checkbox" :class="isFilterActive('lang_' + lang[0]) ? 'active' : ''">
            <label :for="'filter-lang-' + lang[0]" class="checkbox-label">
              <input
                :id="'filter-lang-' + lang[0]"
                type="checkbox"
                x-model="$store.files.filters['lang_' + lang[0]]"
                @change="$store.files.setFilter()"
              />
              <span>
                <span x-text="lang[0]"></span>
                (<span x-text="lang[1]"></span>)
              </span>
            </label>
          </div>
        </template>
      </div>
    </div>
  </template>

  <template x-if="$store.files.sources.length > 1">
    <div class="form-items-section">
      <h3 class="form-items-section-title" x-text="$t('filters.author')"></h3>
      <div class="form-items-group">
        <template x-for="source in $store.files.sources">
          <div class="form-item checkbox" :class="isFilterActive('actor_' + source.id) ? 'active' : ''">
            <label :for="'filter-actor-' + source.id" class="checkbox-label">
              <input
                :id="'filter-actor-' + source.id"
                type="checkbox"
                x-model="$store.files.filters['actor_' + source.id]"
                @change="$store.files.setFilter()"
              />
              <span>
                <span x-text="source.actor.name"></span>
              </span>
            </label>
          </div>
        </template>
      </div>
    </div>
  </template>

  <div
    class="toots-filters-reset"
    x-show="$store.files.filtersActive"
  >
    <button
      @click="$store.files.resetFilters(true)"
      :disabled="!$store.files.filtersActive"
    >
      <svg class="btn-icon" aria-hidden="true">
        <use href="#reset-filters" />
      </svg>
      <span class="btn-label" x-text="$t('filters.resetFilters')"></span>
    </button>
  </div>
</div>
