---
import PagingTop from '../PagingTop.astro';
---

<header class="toots-header" aria-labelledby="toots-header-title">
  <h2 id="toots-header-title">
    <span class="count">
      <span x-text="await formatNumber($store.files.filteredToots.length)" class="nb"></span>
      posts
    </span>
    <span class="order">
      -
      <span x-text="await $store.files.sortAsc ? 'oldest' : 'latest'"></span>
      first
      <button @click="$store.files.toggleTootsOrder()" class="toggle-order">
        <svg class="btn-icon" aria-hidden="true">
          <use href="#toggle-order" /></svg
        ><span class="btn-label">Reverse</span>
      </button>
    </span>

    <button @click="startOver" class="load-new">
      <svg class="btn-icon" aria-hidden="true">
        <use href="#load-file" /></svg
      ><span class="btn-label">Load new file</span>
    </button>
  </h2>

  <PagingTop />

</header>
