---
import PagingTop from '../PagingTop.astro';
---

<header class="toots-header" aria-labelledby="toots-header-title">
  <h2 id="toots-header-title">
    <span class="count">
      <span x-text="formatNumber($store.files.filteredToots.length)" class="nb"></span>
      <span x-text="$t('header.countLabel')"></span>
    </span>
    <span class="order">
      <span x-text="$store.files.sortAsc ? $t('header.oldestFirst') : $t('header.latestFirst')"></span>
    </span>
  </h2>

  <div class="open-tools">
    <button class="" id="header-open-tools" @click="$store.ui.menuToggle('tools')">
      <svg class="btn-icon" aria-hidden="true">
        <use href="#tools" /></svg
      ><span class="btn-label" x-text="$t('menu.tools')"></span>
    </button>
  </div>

  <PagingTop />

</header>
