---
import PagingBottom from '../PagingBottom.astro';
import Post from './posts/Post.astro';
---

<div
  class="toots"
  id="toots"
  role="region"
  aria-labelledby="toots-title"
  tabindex="-1"
  @scroll.throttle.200ms="postsScrolled()"
>
  <h2
    id="toots-title"
    class="visually-hidden"
    x-text="$t('posts.panelTitle')"
  ></h2>

  <template
    x-show="$store.files.pagedToots.length"
    x-for="toot in $store.files.pagedToots"
  >
    <Post />
  </template>

  <div
    class="toots-no-results"
    x-show="$store.files.pagedToots.length === 0"
  >
    <div x-show="$store.files.filtersActive">
      <p x-text="$t('posts.noResults')"></p>
      <p class="action">
        <button
          @click="$store.files.resetFilters(true)"
          :disabled="!$store.files.filtersActive"
        >
          <svg class="btn-icon" aria-hidden="true">
            <use href="#reset-filters" />
          </svg>
          <span class="btn-label" x-text="$t('filters.resetFilters')"></span>
        </button>
      </p>
    </div>
    <div x-show="!$store.files.filtersActive">
      <p x-text="$t('posts.noPostsError')"></p>
    </div>
  </div>

  <PagingBottom />

</div>
