---
import CloseBtn from './CloseBtn.astro'
import AppSettings from './tools/AppSettings.astro'
import ManageFiles from './tools/ManageFiles.astro'
import AppLog from './tools/AppLog.astro'
import About from './tools/About.astro'
---

<aside
  id="panel-tools"
  class="tools panel-tools mobile-menu-panel"
  aria-labelledby="panel-tools-title"
  tabindex="-1"
  inert
>
  <CloseBtn />

  <h2
    id="panel-tools-title"
    class="tools-section tools-title visually-hidden"
    x-text="$t('tools.panelTitle')"
  ></h2>

  <AppSettings />
  <ManageFiles />
  <AppLog />
  <About />

</aside>
